{% extends "rooms/base.html" %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock %}

{% block leftnav %}
  <div class="w3-sidebar w3-bar-block w3-light-gray" id="left-sidebar">
    <div id="menuTut" class="myMenu">
      <div class="w3-container">
        <h3 id="type">{{ type }}s</h3>
      </div>
      {% for room in rooms %}
        {% if type == "room" %}
          <a href="{% url 'rooms:detail_room' room_id=room.id %}" class="w3-bar-item w3-button">{{ room.name }}</a>
        {% elif type == "chat" %}
          <a href="{% url 'rooms:detail_chat' chat_id=room.id %}" class="w3-bar-item w3-button">{{ room|get_other_member:user }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="w3-main w3-container" id="main"></div>
{% endblock %}
