{% extends "rooms/base_room.html" %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'lib/reconnecting-websocket.js' %}"></script>
   <script src="{% static 'lib/jquery-3.4.0.min.js' %}"></script>
{% endblock %}

{% block leftnav %}
  <div class="w3-sidebar w3-bar-block w3-light-gray" style="z-index: 3; width: 270px; display: block;" id="mySidebar">
    <div id="menuTut" class="myMenu" style="display: block;">
      <div class="w3-container">
        <h3 style="text-transform:uppercase;">{{ type }}s</h3>
      </div>
      {% if type == "room" %}
        {% for room in rooms %}
          {% if room.id == room_id %}
            <a href="{% url 'rooms:detail_room' room_id=room.id %}" class="w3-bar-item w3-button w3-green">{{ room.name }}</a>
          {% else %}
            <a href="{% url 'rooms:detail_room' room_id=room.id %}" class="w3-bar-item w3-button">{{ room.name }}</a>
          {% endif %}
        {% endfor %}
      {% elif type == "chat" %}
        {% for room in rooms %}
          {% if room.id == room_id %}
            <a href="{% url 'rooms:detail_chat' chat_id=room.id %}" class="w3-bar-item w3-button w3-green">{{ room|get_other_member:user }}</a>
          {% else %}
            <a href="{% url 'rooms:detail_chat' chat_id=room.id %}" class="w3-bar-item w3-button">{{ room|get_other_member:user }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block rightbar %}
<div class="w3-sidebar w3-bar-block w3-light-gray" style="z-index:3;width:270px;display:block;right:0" id="mySidebar">
    <div id="menuTut" class="myMenu" style="display: block;">
      <div class="w3-container">
        <h3>Online</h3>
      </div>
      <ul>
        {% for user in online_users %}
          <li>{{ user.username }}</li>
        {% endfor %}
      </ul>
      <div class="w3-container">
        <h3>Offline</h3>
      </div>
      <ul>
        {% for user in offline_users %}
          <li>{{ user.username }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="w3-main w3-container" style="margin-left:270px!important;margin-top:117px;margin-right:270px;">

<div id="chat-log-v2" class="w3-panel w3-border" style="height: calc(100vh - 230px);overflow-y:scroll;postion:fixed;"></div>

    <div class="w3-section">
      <input id="chat-message-input" class="w3-input w3-border" type="text" placeholder="new message" />
    </div>

    <div id="typing"></div>

    <script type="text/javascript">
      // TODO (brian): move this sucker to a js file
      // while still being able to pass in context data

      var roomName = "{{ room_name }}";
      var username = "{{ username }}";
      var room_id = "{{ room_id }}";

      if (window.location.protocol == "https:") {
        var ws_scheme = "wss://";
      } else {
        var ws_scheme = "ws://";
      };

      var chatSocket = new ReconnectingWebSocket(
        ws_scheme + window.location.host +
        '/ws/room/' + room_id + '/');

      chatSocket.onopen = function(e) {
        fetchMessages();
      }

      chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            displayMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          displayMessage(data['message']);
        } else if (data['command'] === 'typing'){
          displayTyping(data['username']);
        }
      };

      chatSocket.onclose = function(e) {
        console.error('Why do websockets hate me?');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
          sendMessage();
        }
      };

      $("#chat-message-input").keypress(function(){
        chatSocket.send(JSON.stringify({
          'command': 'typing',
          'from': username,
        }));
      })

      var clearInterval = 900; //0.9s
      var clearTimerId;
      var typingUsers = [];

      function displayTyping(typerName){
        if (typerName != username){
          if (typingUsers.indexOf(typerName) >= 0){
            // typerName is in typing users
          } else {
            // typerName is not in typing users
            // add typerName to typing users
            typingUsers.push(typerName);
          }

          if (typingUsers.length > 1){
            $("#typing").html("multiple people are typing");
          } else {
            $("#typing").html(typerName + " is typing");
          }

          // restart timeout timer
          clearTimeout(clearTimerId);
          clearTimerId = setTimeout(function (){
            // clear user is typing message
            $("#typing").html("");
            typingUsers.pop(typerName);
          }, clearInterval);
        }
      }

      function sendMessage() {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if (message != "") {
          chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'from': username,
            'room_name': roomName
          }));
          messageInputDom.value = '';
        }
      };

      function fetchMessages() {
        chatSocket.send(JSON.stringify({
          'command': 'fetch_messages',
          'room_name': roomName,
        }));
      }

      function displayMessage(data){
        if (doWeAppendBoss(data)){
          appendToPrevious(data);
        } else {
          displayNewMessage(data);
        }
      }

      function doWeAppendBoss(data){
        return data["author"] == $(".author:last").find("b").html();
      }

      function appendToPrevious(data){
        var prev_message = $(".message:last");
        prev_message.append("<br>" + data["content"]);

        // scroll to bottom every time a new message is added to bottom
        var chatLog = document.getElementById("chat-log-v2");
        chatLog.scrollTo(0, chatLog.scrollHeight);
      }

      function displayNewMessage(data) {
        var message = data['content'];
        var chatLog = document.getElementById("chat-log-v2");//+= (message + '\n');
        var newChatElement = document.createElement("div");
        newChatElement.setAttribute("style", "min-height:50px;");
        newChatElement.innerHTML = "<div class=\"w3-show-inline-block author\"><b>" + data["author"] + "</b></div>" +
          "<div class=\"w3-container w3-show-inline-block w3-text-dark-gray\">" + data["timestamp"] + "</div>" +
          "<div class=\"w3-container w3-leftbar message\" style=\"overflow:hidden;\">" + data["content"] + "</div>";
        document.getElementById("chat-log-v2").appendChild(newChatElement);

        // scroll to bottom every time a new message is added to bottom
        chatLog.scrollTo(0, chatLog.scrollHeight);
      }

    </script>
  </div>
{% endblock %}
