{% extends "rooms/base_room.html" %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/lib/reconnecting-websocket.js' %}"></script>
  <script src="{% static 'js/lib/jquery-3.4.0.min.js' %}"></script>
  <script src="{% static 'js/lib/imagesloaded.pkgd.min.js' %}"></script>
{% endblock %}

{% block leftnav %}
  <div class="w3-sidebar w3-bar-block w3-light-gray" id="left-sidebar">
    <div id="menuTut" class="myMenu">
      <div class="w3-container">
        <h3 id="type">{{ type }}s</h3>
      </div>
      {% if type == "room" %}
        {% for room in rooms %}
          {% if room.id == room_id %}
            <a href="{% url 'rooms:detail_room' room_id=room.id %}" class="w3-bar-item w3-button w3-green">{{ room.name }}</a>
          {% else %}
            <a href="{% url 'rooms:detail_room' room_id=room.id %}" class="w3-bar-item w3-button">{{ room.name }}</a>
          {% endif %}
        {% endfor %}
      {% elif type == "chat" %}
        {% for room in rooms %}
          {% if room.id == room_id %}
            <a href="{% url 'rooms:detail_chat' chat_id=room.id %}" class="w3-bar-item w3-button w3-green">{{ room|get_other_member:user }}</a>
          {% else %}
            <a href="{% url 'rooms:detail_chat' chat_id=room.id %}" class="w3-bar-item w3-button">{{ room|get_other_member:user }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block rightbar %}
<div class="w3-sidebar w3-bar-block w3-light-gray" id="right-sidebar">
    <div id="menuTut" class="myMenu">
      <div class="w3-container">
        <h3>ONLINE</h3>
      </div>
      <ul>
        {% for user in online_users %}
          <li>{{ user.username }}</li>
        {% endfor %}
      </ul>
      <div class="w3-container">
        <h3>OFFLINE</h3>
      </div>
      <ul>
        {% for user in offline_users %}
          <li>{{ user.username }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="w3-main w3-container" id="main">

    <div id="chat-log-v2" class="w3-panel w3-border"></div>

    <div>
      <input id="chat-message-input" class="w3-input w3-border" type="text" placeholder="new message" />
    </div>

    <div id="typing"></div>
    <audio id="not-discord-bell">
      <source src="{% static 'audio/bell.ogg' %}" type="audio/ogg">
      <source src="{% static 'audio/bell.mp3' %}" type="audio/mpeg">
    </audio>

    <script type="text/javascript">
      // room.js needs this information
      var roomName = "{{ room_name }}";
      var username = "{{ username }}";
      var room_id = "{{ room_id }}";
    </script>
    <script type="text/javascript" src="{% static 'js/src/room.js' %}"></script>
  </div>
{% endblock %}
