{% extends "rooms/base.html" %}
{% load static %}
{% block content %}
  <div class="w3-main w3-container" style="margin-left:270px!important;margin-top:117px;">
    <h1>Detail View of Room {{ room_name }}</h1>

<div id="chat-log-v2" class="w3-container w3-border" style="height: calc(100vh - 270px);overflow:scroll;postion:fixed;"></div>

    <!--<textarea id="chat-log" cols="100" rows="20"></textarea><br/>-->
    <div class="w3-section">
      <input id="chat-message-input" class="w3-input w3-border" type="text" placeholder="new message" />
    </div>
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <script type="text/javascript">
      var roomName = "{{ room_name }}";
      var username = "{{ username }}";
      var room_id = "{{ room_id }}";

      var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/room/' + room_id + '/');

      chatSocket.onopen = function(e) {
        fetchMessages();
      }

      chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
      };

      chatSocket.onclose = function(e) {
        console.error('Why do websockets hate me?');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
          sendMessage();
        }
      };

      function sendMessage() {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
          'message': message,
          'command': 'new_message',
          'from': username,
          'room_name': roomName
        }));
        console.log('attempting to send message');
        messageInputDom.value = '';
      };

      function fetchMessages() {
        chatSocket.send(JSON.stringify({
          'command': 'fetch_messages',
          'room_name': roomName,
        }));
      }

      function createMessage(data) {
        var message = data['content'];
        var chatLog = document.getElementById("chat-log-v2");//+= (message + '\n');
        var newChatElement = document.createElement("div");
        newChatElement.setAttribute("class", "w3-container");
        newChatElement.innerHTML = "<span><p>" + data["author"] + ": " + data["content"] + "</p></span>";
        document.getElementById("chat-log-v2").appendChild(newChatElement);
        chatLog.scrollTo(0,chatLog.scrollHeight);
      }

    </script>
  </div>
{% endblock %}
