<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>KODA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    {% block navbar %}
		 <div class="w3-bar w3-green">
			<a href="{% url 'homepage' %}" class="w3-bar-item w3-button">Home</a>
			<a href="{% url 'rooms:index' %}" class="w3-bar-item w3-button">Rooms</a>
			<a href="#" class="w3-bar-item w3-button">Direct Messages</a>
			<a href="#" class="w3-bar-item w3-button">Link 3</a>
		</div>
    {% endblock %}
    {% block leftnav %}{% endblock %}
    {% block content %}{% endblock %}
</body>